@import "../variables";

.contacts__container {
  display: grid;
  align-items: center;
  padding: 120px 30px;

  column-gap: 40px;

  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    padding: 100px 45px;

    column-gap: 30px;
  }

  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-direction: column;
    padding: 58px 15px 46px;

    row-gap: 40px;
  }
}

.contacts__map {
  width: 100%;
  min-width: 100px;
  max-width: 560px;
  height: 306px;
  margin-left: 73px;

  @media (max-width: 1250px) {
    margin-left: 50px;
  }

  @media (max-width: 1200px) {
    margin-left: 25px;
  }

  @media (max-width: $tablet-size-max) {
    min-width: 324px;
    height: 335px;
    margin-left: 0;
  }

  @media (max-width: $mobile-size-max) {
    order: 2;
    min-width: 290px;
    height: 316px;
  }
}

.contacts__description {
  margin-left: 60px;
  padding-top: 20px;

  color: $color-tangaroa;

  @media (max-width: $tablet-size-max) {
    margin: 0;
    padding: 0;
    padding-top: 15px;
  }

  @media (max-width: $mobile-size-max) {
    order: -1;
    padding: 0;
  }
}

.contacts h3 {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $color-tangaroa;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 23px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: 21px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-tangaroa;

  @media (max-width: $mobile-size-max) {
    margin-bottom: 20px;
  }
}

.contacts p {
  margin: 0;

  @media (max-width: $tablet-size-max) {
    max-width: 255px;
  }
}

.contacts svg {
  flex-shrink: 0;
  margin-right: 10px;
}
