@import "../variables";

.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;
  min-height: 43px;
  padding: 0 0 20px 0;

  line-height: 21px;

  label {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 43px;

    line-height: 21px;

    input,
    textarea {
      flex-grow: 1;
      width: 100%;
      min-height: 43px;
      margin-left: auto;
      padding: 11px 16px;

      font-size: 14px;
      line-height: 21px;
      color: $color-tangaroa;

      border: 0;
      outline: 2px solid $color-tangaroa;
      outline-offset: 2px;
      cursor: text;

      &::placeholder {
        font-size: 14px;
        line-height: 21px;
        color: rgba($color-tangaroa, 0.7);
      }

      @media screen and (max-width: 767px) {
        width: 100%;
        max-width: unset;
      }

      &:hover {
        outline: 2px solid $color-turquoise;
        outline-offset: 2px;
      }

      &:focus {
        outline: 2px solid $color-jordy-blue;
        outline-offset: 2px;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      outline-color: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        outline-color: 2px solid rgba($color-torch-red, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      outline-color: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        outline-color: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    bottom: -2px;
    left: 0;

    font-size: 12px;

    &.is-invalid {
      color: $color-torch-red;
    }

    &.is-valid {
      color: $color-eucalyptus;
    }
  }
}
