@import "../variables";

.feedback {
  position: relative;

  overflow: hidden;

  background: width 100%;
  background-color: $color-curious-blue;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) {
    background: width 100%;
    background-image: url("./../img/feedback-desktop.jpg");

    @supports (background-image: url("./../img/feedback-desktop.webp")) {
      background: width 100%;
      background-image: url("./../img/feedback-desktop.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: url("./../img/feedback-desktop@2x.jpg");

      @supports (background-image: url("./../img/feedback-desktop@2x.webp")) {
        background: width 100%;
        background-image: url("./../img/feedback-desktop@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    background: width 100%;
    background-image: url("./../img/feedback-tablet.jpg");

    @supports (background-image: url("./../img/feedback-tablet.webp")) {
      background: width 100%;
      background-image: url("./../img/feedback-tablet.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: url("./../img/feedback-tablet@2x.jpg");

      @supports (background-image: url("./../img/feedback-tablet@2x.webp")) {
        background: width 100%;
        background-image: url("./../img/advantages-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    background: width 100%;
    background-image: url("./../img/feedback-mobile.jpg");

    @supports (background-image: url("./../img/feedback-mobile.webp")) {
      background: width 100%;
      background-image: url("./../img/feedback-mobile.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: url("./../img/feedback-mobile@2x.jpg");

      @supports (background-image: url("./../img/feedback-mobile@2x.webp")) {
        background: width 100%;
        background-image: url("./../img/feedback-mobile@2x.webp");
      }
    }
  }
}

.feedback__container {
  display: grid;
  align-items: center;
  padding: 50px 163px 50px;

  gap: 40px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $tablet-size-max) {
    display: flex;
    flex-direction: column;
    padding: 87px 150px 100px;

    gap: 45px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 59px 15px 66px;

    gap: 35px;
  }

  h2 {
    margin: 0;
    margin-bottom: 8px;

    font-size: 40px;
    line-height: 150%;

    @media (max-width: $tablet-size-max) {
      margin-bottom: 6px;

      font-size: 34px;
      text-align: center;
    }

    @media (max-width: $mobile-size-max) {
      margin-bottom: 14px;

      font-size: 24px;
      line-height: 31px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 150%;

    @media (max-width: $tablet-size-max) {
      font-size: 18px;
      text-align: center;
    }

    @media (max-width: $mobile-size-max) {
      min-width: 214px;
      margin-bottom: 0;

      font-size: 16px;
      line-height: 22px;
    }
  }
}
