@import "../variables";

.feedback {
  position: relative;

  overflow: hidden;

  background: width 100%;
  background-color: $color-curious-blue;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1024px) {
    background: width 100%;
    background-image: url("./../img/feedback-desktop.jpg");

    @supports (background-image: url("./../img/feedback-desktop.webp")) {
      background: width 100%;
      background-image: url("./../img/feedback-desktop.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: url("./../img/feedback-desktop@2x.jpg");

      @supports (background-image: url("./../img/feedback-desktop@2x.webp")) {
        background: width 100%;
        background-image: url("./../img/feedback-desktop@2x.webp");
      }
    }
  }

  @media (max-width: $tablet-size-max) {
    background: width 100%;
    background-image: url("./../img/feedback-tablet.jpg");

    @supports (background-image: url("./../img/feedback-tablet.webp")) {
      background: width 100%;
      background-image: url("./../img/feedback-tablet.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: url("./../img/feedback-tablet@2x.jpg");

      @supports (background-image: url("./../img/feedback-tablet@2x.webp")) {
        background: width 100%;
        background-image: url("./../img/advantages-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-size-max) {
    background: width 100%;
    background-image: url("./../img/feedback-mobile.jpg");

    @supports (background-image: url("./../img/feedback-mobile.webp")) {
      background: width 100%;
      background-image: url("./../img/feedback-mobile.webp");
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: width 100%;
      background-image: url("./../img/feedback-mobile@2x.jpg");

      @supports (background-image: url("./../img/feedback-mobile@2x.webp")) {
        background: width 100%;
        background-image: url("./../img/feedback-mobile@2x.webp");
      }
    }
  }
}

.feedback__container {
  display: grid;
  align-items: center;
  margin: 0 auto;
  padding: 50px 163px 26px;

  gap: 40px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 6000px) {
    display: grid;
    align-items: center;
    padding: 50px 718px 26px;

    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 2500px) {
    padding: 50px 630px 26px;
  }

  @media (max-width: 2400px) {
    padding: 50px 600px 26px;
  }

  @media (max-width: 2300px) {
    padding: 50px 550px 26px;
  }

  @media (max-width: 2200px) {
    padding: 50px 490px 26px;
  }

  @media (max-width: 2100px) {
    padding: 50px 400px 26px;
  }

  @media (max-width: 2000px) {
    padding: 50px 390px 26px;
  }

  @media (max-width: 1900px) {
    padding: 50px 350px 26px;
  }

  @media (max-width: 1800px) {
    padding: 50px 300px 26px;
  }

  @media (max-width: 1700px) {
    padding: 50px 230px 26px;
  }

  @media (max-width: 1600px) {
    padding: 50px 190px 26px;
  }

  @media (max-width: 1500px) {
    padding: 50px 170px 26px;
  }

  @media (max-width: 1366px) {
    padding: 50px 163px 26px;
  }

  @media (max-width: $tablet-size-max) {
    display: flex;
    flex-direction: column;
    padding: 87px 150px 100px;

    gap: 45px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 59px 15px 66px;

    gap: 35px;
  }

  h2 {
    margin: 0;
    margin-bottom: 8px;

    font-size: 40px;
    line-height: 150%;

    @media (max-width: $tablet-size-max) {
      margin-bottom: 6px;

      font-size: 34px;
      text-align: center;
    }

    @media (max-width: $mobile-size-max) {
      margin-bottom: 14px;

      font-size: 24px;
      line-height: 31px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 150%;

    @media (max-width: $tablet-size-max) {
      font-size: 18px;
      text-align: center;
    }

    @media (max-width: $mobile-size-max) {
      min-width: 214px;
      margin-bottom: 0;

      font-size: 16px;
      line-height: 22px;
    }
  }
}

.feedback__content {
  margin-bottom: 21px;

  @media (max-width: $tablet-size-max) {
    margin-bottom: 0;
  }
}
