@import "../variables";

.header {
  position: absolute;
  top: 0;
  z-index: 5;

  width: 100%;
  min-height: 110px;

  color: $color-alice-blue;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  height: 100%;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width: $tablet-size-max) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__logo-link {
  @media (max-width: $tablet-size-max) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-size-max) {
    width: 42px;
    height: 22px;
  }
}

.header__logo-picture {
  user-select: none;

  @media (max-width: $tablet-size-max) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-size-max) {
    width: 42px;
    height: 22px;
  }
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;

  @media (max-width: $tablet-size-max) {
    max-width: 500px;
  }

  @media (max-width: $mobile-size-max) {
    display: none;
    //width: 100%;
  }
}

.header__navigation-list {
  display: grid;

  gap: 33px;
  grid-template-columns: repeat(4, max-content);
  row-gap: 12px;

  @media (max-width: $tablet-size-max) {
    column-gap: 24px;
  }

  @media (max-width: $mobile-size-max) {
    flex-direction: column;
    padding: 0 30px 0 15px;

    column-gap: 0;

    row-gap: 10px;
  }
}

.header__navigation-link {
  display: block;

  font-weight: 500;
  line-height: 18px;
  color: $color-alice-blue;

  &:hover,
  &:focus {
    color: $color-jordy-blue;
  }

  &:active {
    color: $color-jelly-bean;
  }

  @media (max-width: $tablet-size-max) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $mobile-size-max) {
    position: relative;

    display: block;
    padding: 10px 0 8px 10px;

    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }
}
