@import "../variables";

.header {
  position: absolute;
  top: 0;
  z-index: 5;

  width: 100%;
  min-height: 110px;

  color: $color-alice-blue;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  height: 100%;
  padding-top: 35px;
  padding-bottom: 35px;

  @media (max-width: $tablet-size-max) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-size-max) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__logo-link {
  @media (max-width: $tablet-size-max) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-size-max) {
    width: 42px;
    height: 22px;
  }
}

.header__logo-picture {
  user-select: none;

  @media (max-width: $tablet-size-max) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $mobile-size-max) {
    width: 42px;
    height: 22px;
  }
}

.header__overlap {
  display: none;

  @media (max-width: $mobile-size-max) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: block;
    width: 100%;
    height: 100%;

    background-color: transparent;
    cursor: pointer;

    transition: 0.1s ease $color-alice-blue;

    pointer-events: none;
  }
}

.header__navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;

  @media (max-width: $tablet-size-max) {
    max-width: 500px;
  }

  @media (max-width: $mobile-size-max) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;

    max-width: 0;
    height: 100vh;
    overflow: hidden;

    color: $color-tangaroa;

    background-color: $color-alice-blue;
  }
}

.is-open .header__navigation {
  @media (max-width: $mobile-size-max) {
    max-width: 285px;
    max-height: 100vh;
    overflow-y: scroll;
  }
}

.header__navigation .header__navigation-wrapper {
  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 30px 20px 17px;
    overflow: auto;

    gap: 27px;
  }
}

.header__navigation .header__navigation-wrapper > .logo {
  display: none;

  color: inherit;

  @media (max-width: $mobile-size-max) {
    display: block;

    & svg {
      width: 42px;
      height: 22px;
    }
  }
}

.header__container.is-open .header__overlap {
  pointer-events: none;

  @media (max-width: $mobile-size-max) {
    height: 100vh;

    background-color: rgba(0, 43, 102, 0.5);

    pointer-events: all;
  }
}

.header__container.is-open > .header__logo-link {
  @media (max-width: $mobile-size-max) {
    position: relative;

    transform: translateX(-150px);
  }
}

.header__button {
  z-index: 30;

  display: none;
  flex-shrink: 0;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;

  @media (max-width: $mobile-size-max) {
    display: flex;

    & span {
      position: relative;
      left: 50%;

      display: flex;
      width: 24px;
      height: 2px;

      background-color: $color-alice-blue;
      transform: translate(-50%);

      transition: 0.4s cubic-bezier(0, 2, 1, 1) transform, 0.4s cubic-bezier(0.5, 0, 0.5, 1.5) width, 0.1s ease background-color, 0.4s cubic-bezier(0, 2, 1, 1);

      &::after,
      &::before {
        content: "";
        position: absolute;
        left: 0;

        width: 24px;
        height: 2px;

        background-color: inherit;

        transition: 0.4s cubic-bezier(0, 2, 1, 1) transform, 0.4s cubic-bezier(0, 2, 1, 1);
      }

      &::before {
        transform: translateY(6px);
      }

      &::after {
        transform: translateY(-6px);
      }
    }
  }
}

.header__container.is-open .header__button span {
  @media (max-width: $mobile-size-max) {
    z-index: 50;

    width: 0;

    background-color: $color-tangaroa;

    &::before,
    &::after {
      left: -3px;

      width: 20px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.header__navigation-list {
  display: grid;

  gap: 33px;
  grid-template-columns: repeat(4, max-content);
  row-gap: 12px;

  @media (max-width: $tablet-size-max) {
    column-gap: 21px;
  }

  @media (max-width: $mobile-size-max) {
    display: flex;
    flex-direction: column;
    padding-right: 15px;

    column-gap: 0;

    row-gap: 10px;
  }
}

.header__navigation-link {
  display: block;

  font-weight: 500;
  line-height: 18px;
  color: $color-alice-blue;

  &:hover,
  &:focus {
    color: $color-jordy-blue;
  }

  &:active {
    color: $color-jelly-bean;
  }

  @media (max-width: $tablet-size-max) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $mobile-size-max) {
    display: flex;
    width: 240px;
    min-height: 40px;
    padding: 10px 10px 10px 8px;

    font-size: 18px;
    line-height: 20px;
    color: $color-tangaroa;

    transition: linear 0.2s opacity;
  }
}
