@import "../variables";

.products {
  width: 100%;
}

.products__container {
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding: 0 60px;

  h2 {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 49px;
    padding-top: 86px;

    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;

    @media (max-width: $tablet-size-max) {
      margin-bottom: 49px;
      padding-top: 90px;

      font-size: 26px;
      line-height: 39px;
    }

    @media (max-width: $mobile-size-max) {
      margin-bottom: 31px;
      padding-top: 56px;

      font-size: 24px;
      line-height: 36px;
    }
  }

  @media (max-width: $tablet-size-max) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-size-max) {
    margin-bottom: 65px;
    padding: 0 25px;
  }
}

.products__list {
  display: grid;
  justify-content: center;

  column-gap: 30px;

  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;

  @media (max-width: $tablet-size-max) {
    column-gap: 4.5%;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 29px;
  }

  @media (max-width: $mobile-size-max) {
    margin: 0 auto;

    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

//Сам блок внутри карточки
.products__description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 386px;
  padding: 28px 20px 35px 24px;

  color: $color-alice-blue;

  background-color: $color-tangaroa;

  @media (max-width: $tablet-size-max) {
    padding: 28px 35px 35px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 30px 25px 35px;
  }
}

.products__item > .products__description {
  display: none;
}

.products__item:hover > .products__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(1px);

  transition: 0.4s cubic-bezier(0, 1, 0, 1) transform;
}

//Всё описание, кроме заголовка в кавычках
.products__description ul {
  min-height: 238px;
  margin-bottom: 4px;
  overflow: auto;

  scrollbar-width: none;

  /* stylelint-disable */
    &::-webkit-scrollbar {
      display: none;
    }

  /* stylelint-enable */
}

.products__description li {
  margin-bottom: 13px;

  @media (max-width: 1350px) {
    margin-bottom: 12px;
  }

  @media (max-width: 1300px) {
    margin-bottom: 11px;
  }

  @media (max-width: 1250px) {
    margin-bottom: 10px;
  }

  @media (max-width: 1200px) {
    margin-bottom: 9px;
  }

  @media (max-width: $tablet-size-max) {
    margin-bottom: 13px;
  }
}

.products__description p {
  margin: 0;
}

//Заголовок внутри карточки
.products__description > p {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

//Подзаголовки в списке внутри карточек
.products__description li p:first-child {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

//Детали другого цвета и не такие насыщенные
.products__description li p:not(:first-child) {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $color-quartz;
}

.products__item {
  position: relative;

  max-width: 260px;
  min-height: 386px;
  overflow: hidden;

  @media (max-width: $tablet-size-max) {
    width: 100%;
    max-width: none;
    height: auto;

    aspect-ratio: 1 / 1.25;
  }

  @media (max-width: $mobile-size-max) {
    width: 100%;

    aspect-ratio: 1 / 1.42;
  }

  h3 {
    position: absolute;
    z-index: 1;

    display: flex;
    align-items: flex-end;
    width: max-content;
    height: 100%;
    margin: 0;
    padding: 22px 30px;

    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: $color-alice-blue;

    @media (max-width: $tablet-size-max) {
      padding: 27px 35px;
    }

    @media (max-width: $mobile-size-max) {
      padding: 18px 25px;
    }
  }
}

.products__image {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  }
}

.products__image img {
  z-index: -2;

  width: 100%;
  height: auto;
  min-height: 386px;
}

.products__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 10px 17px 10px 10px;

  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: $color-tangaroa;

  background-color: $color-alice-blue;

  &:focus,
  &:hover {
    color: $color-prussian-blue;

    background-color: $color-quartz;
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  @media (max-width: $tablet-size-max) {
    padding: 10px;
  }
}
